@import 'bulma/sass/utilities/_all.sass';
@import '../../global/styles/utils.scss';

$bar-transition: width 300ms ease-out;

.budget {
  @include media('>tablet') {
    margin-top: -60px;
    position: sticky;
    top: 32px;
  }

  &-totals {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;

    &__divider {
      display: inline-block;
      margin-left: 6px;
      margin-right: 6px;
    }

    &__limit {
      border-bottom: 2px solid transparent;

      &.is-over {
        border-bottom-color: $danger;
      }

      &.is-under {
        border-bottom-color: $success;
      }
    }
  }

  &-category {
    margin-bottom: 16px;
    text-align: center;

    &__progress {
      position: relative;
    }

    &__delta {
      align-items: center;
      color: rgba(#fff, .8);
      display: flex;
      font-size: 12px;
      font-weight: bold;
      height: 100%;
      justify-content: flex-end;
      line-height: 1;
      padding-right: 6px;
      position: absolute;
      transition: $bar-transition;
      z-index: 10;
    }

    &__marker {
      position: absolute;
      z-index: 10;
      display: inline-block;
      width: 1px;
      height: 100%;
      background-color: rgba(#000, .16);
    }
  }

  &-progress {
    background-color: $grey-lighter;
    border-radius: 1rem;
    height: 1rem;
    overflow: hidden;
    position: relative;

    &__bar {
      height: 100%;
      transition: $bar-transition;
      width: 0;

      &.green {
        background-color: $green;
      }

      &.yellow {
        background-color: $yellow;
      }

      &.red {
        background-color: $red;
      }
    }
  }
}